* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background-color: #130f0d;
  color: azure;
  font-family: Nunito;
}

.boards {
  width: 100%;
  max-width: 800px;
  padding: 32px 24px 0 24px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.board {
  background-color: #141316;
  border: 1px solid #FD951F11;
  padding: 0 8px;
  border-radius: 4px;
}

.board h3 {
  padding: 10px;
  margin-bottom: 10px;
  color: #FD951Fcc;
}

.dropzone {
  padding: 8px;
  min-height: 200px;
}

.card {
 padding: 16px;
 box-shadow: 0 1px 2px -1px #FD951Fcc; 
 margin: 25px 0;
  font-size: 18px;
  font-weight: 700;
  background-color: #1A1A1C;
}

.status {
  width: 30px;
  height: 8px;
  border-radius: 4px;
  margin-bottom: 5px;
}

.color1 {
  background-color: #23d2ac;
}
.color2 {
  background-color: #33adff;
}
.color3 {
  background-color: red ;
}

.highlight {
  background: #fd951f08;
}
 
.is-dragging {
  cursor: move;
}

.is-over {
  background: #4cd13711;
}
 